[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GANPA"]
	path = GANPA
	url = https://github.com/cran/GANPA
	shallow = true
	registered = true
[submodule "GANPAdata"]
	path = GANPAdata
	url = https://github.com/cran/GANPAdata
	shallow = true
	registered = true
